/* font-family: "ClearSansRegular"; */
@font-face {
    font-family: "ClearSansRegular";
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
    url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansBold"; */
@font-face {
    font-family: "ClearSansBold";
    src: url("../fonts/ClearSansBold/ClearSansBold.eot");
    src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
    url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansItalic"; */
@font-face {
    font-family: "ClearSansItalic";
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot");
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansItalic/ClearSansItalic.woff") format("woff"),
    url("../fonts/ClearSansItalic/ClearSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansLight"; */
@font-face {
    font-family: "ClearSansLight";
    src: url("../fonts/ClearSansLight/ClearSansLight.eot");
    src: url("../fonts/ClearSansLight/ClearSansLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansLight/ClearSansLight.woff") format("woff"),
    url("../fonts/ClearSansLight/ClearSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansMedium"; */
@font-face {
    font-family: "ClearSansMedium";
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot");
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"),
    url("../fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansBoldItalic"; */
@font-face {
    font-family: "ClearSansBoldItalic";
    src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot");
    src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.woff") format("woff"),
    url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansMediumItalic"; */
@font-face {
    font-family: "ClearSansMediumItalic";
    src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot");
    src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.woff") format("woff"),
    url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansThin"; */
@font-face {
    font-family: "ClearSansThin";
    src: url("../fonts/ClearSansThin/ClearSansThin.eot");
    src: url("../fonts/ClearSansThin/ClearSansThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ClearSansThin/ClearSansThin.woff") format("woff"),
    url("../fonts/ClearSansThin/ClearSansThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GoodVibes"; */
@font-face {
    font-family: "GoodVibes";
    src: url("../fonts/GoodVibesCyr.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Inspiration"; */
@font-face {
    font-family: "Inspiration";
    src: url("../fonts/Inspiration.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Inspiration"; */
@font-face {
    font-family: "Pompadur";
    src: url("../fonts/Pompadur.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Gilroy-Light"; */
@font-face {
    font-family: "GilroyLight";
    src: url("../fonts/GilroyLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GilroyExtraBold"; */
@font-face {
    font-family: "GilroyExtraBold";
    src: url("../fonts/GilroyExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "NefelibataScript"; */
@font-face {
    font-family: "NefelibataScript";
    src: url("../fonts/NefelibataScript.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "NefelibataBrushCanvas"; */
@font-face {
    font-family: "NefelibataBrushCanvas";
    src: url("../fonts/NefelibataBrushCanvas.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

body {
    background: #FFF;
}

body .row {
    padding: 0;
    margin: 0;
}

.wrapper-full {
    position: relative;
    display: block;
    width: 100%;
}

.header-wrp {
    position: relative;
    display: block;
    min-height: 959px;
    /*height: 100vmin;*/
    /*background: url(../img/header-tmp.png) top center, url(../img/header-bg.png) no-repeat top center;*/
    /*background-size: cover;*/
    /*background-blend-mode: color;*/
    /*background-color: rgba(0,0,0,0.49);*/
}

.header-wrp .header {
}

.header-wrp .header .menu-wrp {
    position: relative;
    display: block;
    width: 100%;
    height: 94px;
}

.header-wrp .header .menu-wrp.fixed {
    position: fixed;
    z-index: 10;
    top: -95px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-wrp .header .menu-wrp.fixed2 {
    top: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-wrp .header .menu-wrp .menu {
    position: relative;
    display: block;
    width: 100%;
    min-height: 59px;
    background: #181818;
}

.header-wrp .header .menu-wrp .menu .logo {
    position: absolute;
    display: block;
    width: 159px;
    height: 94px;
    left: 50%;
    bottom: -34px;
    margin-left: -79px;
    background: url(../img/logo.png) no-repeat top center;
    z-index: 0;
}

.header-wrp .header .menu-wrp .menu .row {
    position: relative;
    display: block;
    z-index: 1;
}

.header-wrp .header .menu-wrp .menu .row ul li {
    position: relative;
    display: block;
    float: left;
    margin-right: 15px;
}

.header-wrp .header .menu-wrp .menu .row ul li:last-child {
    margin-right: 0;
}

.header-wrp .header .menu-wrp .menu .row .col-left ul {
    position: relative;
    display: block;
    margin-right: 70px;
    float: right;
}

.header-wrp .header .menu-wrp .menu .row .col-right ul {
    position: relative;
    display: block;
    margin-left: 70px;
    float: left;
}

.header-wrp .header .menu-wrp .menu .row ul li a {
    font-family: GilroyLight;
    font-size: 14px;
    line-height: 60px;
    color: #e1e1e1;
}

.header-wrp .header .title {
    position: relative;
    display: block;
    width: 880px;
    margin: 225px auto 0;
    font-family: NefelibataBrushCanvas;
    font-size: 130px;
    color: #E8E8E8;
    line-height: 120px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.header-wrp .header .title span {
    margin-left: 170px;
}

.header-wrp .header .info {
    position: relative;
    display: block;
    width: 289px;
    margin: 60px auto 0;
    padding-top: 10px;
    text-transform: lowercase;
    border-top: 2px solid #fff;
    text-align: center;
}

.header-wrp .header .info .text {
    font-family: GilroyLight;
    font-size: 36px;
    color: #FFF;
}

.header-wrp .header .info .date {
    font-family: GilroyLight;
    font-size: 36px;
    color: #FFF;
}

.history-wrp {
    position: relative;
    display: block;
    min-height: 800px;
}

.history-wrp .history {

}

.history-wrp .history > .col-md-6 {
    min-height: 800px;
}

.history-wrp .history > .col-left {
    background: #E8E8E8;
    text-align: center;
}

.history-wrp .history > .col-left .history-text {
    position: relative;
    display: table;
    width: 400px;
    min-height: 800px;
    padding: 25px;
    float: right;
}

.history-wrp .history > .col-left .history-text .text-wrp {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.history-wrp .history > .col-left .history-text .text-wrp .title {
    font-family: GilroyExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    color: #232D22;
}

.history-wrp .history > .col-left .history-text .text-wrp .text {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
}

.history-wrp .history > .col-left .history-text .text-wrp .text:last-child {
    margin-bottom: 0;
}

.history-wrp .history > .col-left .history-text .text-wrp .text:before {
    position: absolute;
    display: block;
    width: 19px;
    height: 16px;
    top: -12px;
    left: 0;
    content: "";
    background: url(../img/quote.png) no-repeat;
}

.history-wrp .history > .col-left .history-text .text-wrp .border {
    position: relative;
    display: block;
    width: 104px;
    height: 2px;
    background: #2D2D2D;
    margin: 10px auto 50px;
}

.history-wrp .history > .col-left .row {
    position: relative;
    display: block;
    min-height: 200px;
}

.history-wrp .history > .col-right {
    background: #394432;
}

.history-wrp .history > .col-right .row .col-md-6 {
    min-height: 400px;
}

.history-wrp .history > .col-right .row .img-center {
    line-height: 400px;
    text-align: center;
}

.history-wrp .history > .col-right .row .img-center img {
}

.ceremony-wrp {
    position: relative;
    display: block;
    min-height: 800px;
}

.ceremony-wrp .ceremony {

}

.ceremony-wrp .ceremony > .col-md-6 {
    min-height: 800px;
}

.ceremony-wrp .ceremony > .col-right {
    background: #E8E8E8;
    text-align: center;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text {
    position: relative;
    display: table;
    width: 400px;
    min-height: 800px;
    padding: 25px;
    float: left;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp > .info {
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .places {
    position: relative;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .places .place {
    margin-bottom: 40px;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .places .place:last-child {
    margin-bottom: 0;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .places .title {
    font-family: GilroyExtraBold;
    font-size: 18px;
    color: #232D22;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .places .info {
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp > .title {
    font-family: GilroyExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    color: #232D22;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .text {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
}

.ceremony-wrp .ceremony > .col-right .ceremony-text .text-wrp .border {
    position: relative;
    display: block;
    width: 104px;
    height: 2px;
    background: #2D2D2D;
    margin: 15px auto 15px;
}

.ceremony-wrp .ceremony > .col-right .row {
    position: relative;
    display: block;
    min-height: 200px;
}

.ceremony-wrp .ceremony > .col-left {
}

.ceremony-wrp .ceremony > .col-left .row .col-md-6 {
    min-height: 400px;
}

.ceremony-wrp .ceremony > .col-left .row .img-center {
    line-height: 400px;
    text-align: center;
}

.ceremony-wrp .ceremony > .col-left .row .img-center img {
}

.inviting-wrp {
    position: relative;
    display: block;
    min-height: 800px;
}

.inviting-wrp .inviting {

}

.inviting-wrp .inviting > .col-md-6 {
    min-height: 800px;
}

.inviting-wrp .inviting > .col-left {
    background: #394432;
    text-align: center;
}

.inviting-wrp .inviting > .col-left .inviting-text {
    position: relative;
    display: table;
    width: 400px;
    min-height: 800px;
    padding: 25px;
    float: right;
}

.inviting-wrp .inviting > .col-left .inviting-text .text-wrp {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.inviting-wrp .inviting > .col-left .inviting-text .text-wrp .title {
    font-family: NefelibataScript;
    font-size: 36px;
    color: #e8e8e8;
    margin-bottom: 48px;
}

.inviting-wrp .inviting > .col-left .inviting-text .text-wrp .text {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #e8e8e8;
}

.inviting-wrp .inviting > .col-left .inviting-text .text-wrp .text img {
    position: relative;
    margin-top: 30px;
}

.inviting-wrp .inviting > .col-left .inviting-text .text-wrp .border {
    position: relative;
    display: block;
    width: 104px;
    height: 2px;
    background: #2D2D2D;
    margin: 10px auto 50px;
}

.inviting-wrp .inviting > .col-right {
    background: #394432;
}

.inviting-wrp .inviting > .col-right .row .col-md-6 {
    min-height: 400px;
}

.inviting-wrp .inviting > .col-right .row .img-center {
    line-height: 400px;
    text-align: center;
}

.inviting-wrp .inviting > .col-right .row .img-center img {

}

.questioning-wrp {
    position: relative;
    display: block;
    padding-top: 65px;
    padding-bottom: 65px;
    background: url(../img/heart.png) no-repeat center center, #e8e8e8;
}

.questioning-wrp .questioning {
    position: relative;
}

.questioning-wrp .title {
    position: relative;
    display: block;
    width: 110px;
    margin: 0 auto;
    font-family: GilroyExtraBold;
    font-size: 30px;
    color: #232D22;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid #232D22;
}

.questioning-wrp .questioning .row.inp-radio .col-md-6 label {
    position: relative;
    display: block;
    width: 242px;
    height: 50px;
    font-family: GilroyLight;
    font-size: 18px;
    line-height: 46px;
    font-weight: normal;
    color: #1F1F1F;
    text-align: center;
    border: 1px solid #b4a186;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.questioning-wrp .questioning .row .coming label:hover,
.questioning-wrp .questioning .row .coming label.checked {
    border: 1px solid #394432;
    background: #394432;
    color: #fff;
    cursor: pointer;
}

.questioning-wrp .questioning .row.inp-radio {
    margin-top: 50px;
}

.questioning-wrp .questioning .row.inp-radio .col-md-6.col-left label {
    float: right;
    margin-right: 50px;
}

.questioning-wrp .questioning .row.inp-radio .col-md-6.col-right label {
    float: left;
    margin-left: 50px;
}

.questioning-wrp .questioning .info {
    position: relative;
    display: block;
    font-family: GilroyLight;
    font-size: 16px;
    color: #1f1f1f;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

.questioning-wrp .questioning .info input {
    width: 50px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px dashed #333;
    background-color: transparent;
}

.questioning-wrp .questioning .row.radios {
    position: relative;
    display: block;
    width: 800px;
    margin: 30px auto 0;
}

.questioning-wrp .questioning .row.radios {
    font-family: GilroyLight;
    font-size: 16px;
    color: #333;
}

.questioning-wrp .questioning .row.radios .col-md-4 {
    padding-right: 25px;
}

.questioning-wrp .questioning .row.radios .col-md-4:last-child {
    margin-bottom: 0;
}

.questioning-wrp .questioning .row.radios .name {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 15px;
}

.questioning-wrp .questioning .row.radios .quest-radio {
    width: 33.33%;
    float: left;
    margin-bottom: 15px;
}

.questioning-wrp .questioning .row.radios .quest-text {
    float: left;
}

.questioning-wrp .questioning .row.radios .quest-text input {
    padding-left: 10px;
    width: 150px;
    border: none;
    border-bottom: 1px dashed #333;
    font-weight: normal;
    background-color: transparent;
}

.questioning-wrp .questioning .row.radios .quest-radio label {
    font-weight: normal;
}

.questioning-wrp .questioning .row.radios .quest-radio label:before {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 19px;
    top: 5px;
    margin-right: 5px;
    content: "";
    background: url(../img/check.png) no-repeat 0 0;
}

.questioning-wrp .questioning .row.radios .quest-radio label:hover:before,
.questioning-wrp .questioning .row.radios .quest-radio label.checked:before {
    background: url(../img/check.png) no-repeat -18px 0;
}

.questioning-wrp .questioning .row.submit {
    margin-top: 50px;
}

.questioning-wrp .questioning .row.submit .col-left input {
    position: relative;
    display: block;
    width: 242px;
    height: 50px;
    float: right;
    margin-right: 50px;
    border: none;
    font-family: GilroyLight;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px dashed #b4a186;
    padding-left: 10px;
    background-color: transparent;
}

.questioning-wrp .questioning .row.submit .col-right input {
    position: relative;
    display: block;
    width: 242px;
    height: 50px;
    float: left;
    margin-left: 50px;
    border: none;
    border: 1px solid #b4a186;
    font-family: GilroyLight;
    font-size: 18px;
    background-color: transparent;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.questioning-wrp .questioning .row.submit .col-right input:hover {
    border: 1px solid #394432;
    background: #394432;
    color: #fff;
}

.slider-wrp {
    position: relative;
    display: block;
    max-height: 900px;
    overflow: hidden;
}

.slider-wrp .slider {

}

.slider-wrp .slider-prev {
    position: absolute;
    display: block;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/slider-prev.png) no-repeat center center, rgba(232, 232, 232, 0.56);
    font-size: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.slider-wrp .slider-prev a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.slider-wrp .slider-prev:hover {
    background: url(../img/slider-prev.png) no-repeat center center, rgba(232, 232, 232, 0.8);
}

.slider-wrp .slider-next {
    position: absolute;
    display: block;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    background: url(../img/slider-next.png) no-repeat center center, rgba(232, 232, 232, 0.56);
    font-size: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.slider-wrp .slider-next a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.slider-wrp .slider-next:hover {
    background: url(../img/slider-next.png) no-repeat center center, rgba(232, 232, 232, 0.8);
}

.inst-wrp {
    position: relative;
    display: block;
    min-height: 800px;
}

.inst-wrp .inst {

}

.inst-wrp .inst > .col-md-6 {
    min-height: 800px;
}

.inst-wrp .inst > .col-left {
    background: #1f1f1f;
    text-align: center;
}

.inst-wrp .inst > .col-left .inst-text {
    position: relative;
    display: table;
    width: 400px;
    min-height: 800px;
    padding: 25px;
    float: right;
}

.inst-wrp .inst > .col-left .inst-text .text-wrp {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.inst-wrp .inst > .col-left .inst-text .text-wrp .title {
    font-family: GilroyExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    color: #e8e8e8;
}

.inst-wrp .inst > .col-left .inst-text .text-wrp .text {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #e8e8e8;
}

.inst-wrp .inst > .col-left .inst-text .text-wrp .text img {
    position: relative;
    display: block;
    margin: 100px auto 0;
}

.inst-wrp .inst > .col-left .inst-text .text-wrp .border {
    position: relative;
    display: block;
    width: 104px;
    height: 2px;
    background: #e8e8e8;
    margin: 10px auto 50px;
}

.inst-wrp .inst > .col-left .row {
    position: relative;
    display: block;
    min-height: 200px;
}

.inst-wrp .inst > .col-right .row.row-1 .imgLiquid {
    height: 200px;
}

.inst-wrp .inst > .col-right .row.row-3 .col-md-12.imgLiquid {
    height: 400px;
}

.inst-wrp .inst > .col-right .row.row-3 .col-xs-6.imgLiquid {
    height: 200px;
}

.inst-wrp .inst > .col-right .row.row-1 {
    position: relative;
    display: block;
    height: 200px;
}

.inst-wrp .inst > .col-right .row.row-4 .col-md-12.imgLiquid {
    height: 400px;
}

.inst-wrp .inst > .col-right .row.row-4 .col-xs-6.imgLiquid {
    height: 200px;
}

.feedback-wrp {
    position: relative;
    display: block;
    min-height: 800px;
    background: #e8e8e8;
    padding: 65px 0 65px 0;
}

.feedback-wrp .feedback {

}

.feedback-wrp .feedback > .title {
    position: relative;
    display: block;
    width: 290px;
    margin: 0 auto;
    font-family: GilroyExtraBold;
    font-size: 30px;
    color: #232D22;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid #232D22;
}

.feedback-wrp .feedback .info {
    margin-top: 25px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
    text-align: center;
}

.feedback-wrp .feedback .row {
    position: relative;
    display: block;
    margin-top: 25px;
}

.feedback-wrp .feedback .row .col-left form {
    position: relative;
    display: block;
    width: 278px;
    float: right;
    margin-right: 120px;
}

.feedback-wrp .feedback .row .col-left form input[type=text] {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 2px solid #f29073;
    background-color: transparent;
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
}

.feedback-wrp .feedback .row .col-left form textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 226px;
    padding-left: 10px;
    border: 2px solid #f29073;
    background-color: transparent;
    resize: none;
    font-family: GilroyLight;
    font-size: 18px;
    color: #232D22;
}

.feedback-wrp .feedback .row .col-left form input[type=submit] {
    position: relative;
    display: block;
    width: 221px;
    height: 46px;
    margin-top: 50px;
    float: right;
    background-color: #394432;
    font-family: GilroyLight;
    font-size: 18px;
    color: #fff;
    border: none;
}

.feedback-wrp .feedback .book-wrp .messages {
    position: relative;
    display: block;
    width: 400px;
    height: 401px;
    padding: 20px 15px;
    border: 2px solid #f29073;
    overflow-y: hidden;
}

.feedback-wrp .feedback .book-wrp .messages .row {
    padding: 0;
    margin: 0 0 40px 0;
}

.feedback-wrp .feedback .book-wrp .messages .mCSB_dragger_bar {
    background: #f29073;
}

.feedback-wrp .feedback .book-wrp .messages .name {
    padding-right: 20px;
    font-family: GilroyLight, sans-serif;
    font-size: 18px;
    color: #f29073;
}

.feedback-wrp .feedback .book-wrp .messages .message {
    padding-right: 20px;
    font-family: GilroyLight, sans-serif;
    font-size: 14px;
    color: #333;
}

.registration-wrp {
    position: relative;
    display: block;
    min-height: 400px;
    background: #1F1F1F;
}

.registration-wrp .registration {

}

.registration-wrp .registration > .col-left {
    min-height: 400px;
}

.registration-wrp .registration > .col-left .registration-text {
    position: relative;
    display: table;
    width: 400px;
    min-height: 400px;
    padding: 25px;
    text-align: center;
    float: right;
}

.registration-wrp .registration > .col-left .registration-text .text-wrp {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.registration-wrp .registration > .col-left .registration-text .text-wrp .title {
    font-family: GilroyExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    color: #e8e8e8;
    margin-bottom: 40px;
}

.registration-wrp .registration > .col-left .registration-text .text-wrp .text {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #e8e8e8;
}

.registration-wrp .registration > .col-left .registration-text .text-wrp .text img {
    position: relative;
    display: block;
    margin: 40px auto 0;
}

.registration-wrp .registration > .col-right #map1 {
    width: 100%;
    min-height: 400px;
}

.banket-wrp {
    position: relative;
    display: block;
    min-height: 400px;
    background: #1F1F1F;
}

.banket-wrp .banket {

}

.banket-wrp .banket > .col-right .banket-text {
    position: relative;
    display: table;
    width: 400px;
    min-height: 400px;
    padding: 25px;
    text-align: center;
    float: left;
}

.banket-wrp .banket > .col-right,
.banket-wrp .banket > .col-right {
    min-height: 400px;
}

.banket-wrp .banket > .col-right .banket-text .text-wrp {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.banket-wrp .banket > .col-right .banket-text .text-wrp .title {
    font-family: GilroyExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    color: #e8e8e8;
    margin-bottom: 40px;
}

.banket-wrp .banket > .col-right .banket-text .text-wrp .text {
    position: relative;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    font-family: GilroyLight;
    font-size: 18px;
    color: #e8e8e8;
}

.banket-wrp .banket > .col-right .banket-text .text-wrp .text img {
    position: relative;
    display: block;
    margin: 40px auto 0;
}

.banket-wrp .banket > .col-left #map2 {
    width: 100%;
    min-height: 400px;
}

.dg-map {
    width: 100%;
    min-height: 400px;
}

.nd_options_display_none {
    display: none;
}

.nicdark_custom_gradient {
    background: #1f1f1f;
}

.vc_custom_1476698205485 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 300px !important;
    float: right;
}

img {
    max-width: 100%;
}

.vc_row {
    margin-left: 0;
    margin-right: 0;
}

.vc_column_container > .vc_column-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.footer-wrp {
    min-height: 260px;
    background: #E8E8E8;
    text-align: center;
}

.footer-wrp .footer a {
    line-height: 260px;
}

@media (max-width: 991px) {
    .header-wrp {
        min-height: 800px;
        height: 800px;
    }

    .header-wrp .header .menu-wrp .menu .row .col-md-6 ul {
        display: flex;
        width: 100%;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-wrp .header .menu-wrp .menu .row .col-md-6 ul li a {
        line-height: 32px;
    }

    .header-wrp .header .menu-wrp .menu {
        height: 70px;
    }

    .header-wrp .header .menu-wrp .menu .logo {
        display: none;
    }

    .header-wrp .header .title {
        font-size: 60px;
        width: 370px;
        line-height: 60px;
    }

    .header-wrp .header .title span {
        margin-left: 80px;
    }

    .history-wrp .history > .col-left .history-text {
        min-height: 600px;
        width: 100%;
        float: none;
    }

    .history-wrp .history > .col-md-6 {
        min-height: 600px;
    }

    .inst-wrp .inst > .col-left .inst-text {
        min-height: 600px;
        width: 100%;
        float: none;
    }

    .inst-wrp .inst > .col-md-6 {
        min-height: 600px;
    }

    .ceremony-wrp .ceremony > .col-right .ceremony-text {
        width: 100%;
        float: none;
    }

    .inviting-wrp .inviting > .col-left .inviting-text {
        width: 100%;
        float: none;
    }

    .inviting-wrp .inviting > .col-left .inviting-text .text-wrp .text img {
        display: block;
        text-align: center;
        width: 125px;
        height: 80px;
        margin: 30px auto 0;
    }

    .questioning-wrp .questioning .row.inp-radio .col-md-6.col-left {
        margin-bottom: 15px;
    }

    .questioning-wrp .questioning .row.inp-radio .col-md-6.col-right label,
    .questioning-wrp .questioning .row.inp-radio .col-md-6.col-left label {
        float: none;
        margin: 0 auto;
    }

    .questioning-wrp .questioning .row.radios {
        width: 300px;
    }

    .questioning-wrp .questioning .info {
        padding: 0 15px;
    }

    .questioning-wrp .questioning .row.radios .col-md-4 {
        margin-bottom: 15px;
    }

    .questioning-wrp .questioning .row.submit .col-left {
        margin-bottom: 25px;
    }

    .questioning-wrp .questioning .row.submit .col-right input,
    .questioning-wrp .questioning .row.submit .col-left input {
        margin: 0 auto;
        float: none;
    }

    .slider-wrp .slider-prev {
        width: 15%;
    }

    .slider-wrp .slider-next {
        width: 15%;
    }

    .feedback-wrp .feedback .row .col-left form {
        float: none;
        margin: 0 auto 60px;
    }

    .feedback-wrp .feedback .book-wrp .messages {
        margin: 0 auto;
    }

    .feedback-wrp .feedback .row .col-left form input[type=submit] {
        float: none;
        margin: 50px auto 0;
    }

    .registration-wrp .registration > .col-left .registration-text {
        width: 100%;
    }

    .banket-wrp .banket > .col-right .banket-text {
        width: 100%;
    }
}

.btn {
    display: block;
    height: 50px;
    font-family: GilroyLight;
    font-size: 18px;
    line-height: 35px;
    font-weight: normal;
    color: #1F1F1F;
    text-align: center;
    border: 1px solid #b4a186;
    border-radius: 0;
}

.questioning .btn {
    margin: 30px auto 0;
}

@media (max-width: 750px) {
    .nd_options_countdown .nd_options_font_size_45 {
        font-size: 35px;
    }

    .nd_options_countdown h2 {
        font-size: 17px;
    }

    .vc_custom_1476698205485 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        float: none;
    }

    .imgLiquid img {
        visibility: visible !important;
    }

    .ceremony-wrp .ceremony > .col-md-6,
    .inviting-wrp .inviting > .col-md-6 {
        min-height: auto;
    }

    .inviting-wrp .inviting .imgLiquid {
        display: none;
    }

    footer {
        display: none;
    }

    .banket-wrp .banket {
        display: flex;
        flex-direction: column;
    }
    .banket-wrp .banket .col-left{
        order: 2;
    }
    .banket-wrp .banket .col-left{
        order: 1;
    }
}